footer {
  display: flex;

  padding-left: 96px;
  padding-right: 96px;

  align-items: center;
  justify-content: center;

  color: var(--background-white);
  background-color: var(--footer-background);
}

.footer-content {
  display: flex;


  margin-top: 3.25rem;
  border-top: 2px solid var(--accent-color);
  padding-top: 0.75rem;

  flex-grow: 1;
  max-width: 88rem;
}

.footer-branding {
  display: flex;
  align-items: center;
}

.footer-description {
  flex-grow: 1;

  font-style: italic;
}
