.masthead {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;

  color: var(--white-hue);
  background-color: var(--masthead-background);

  box-shadow:
    0 0 0.2rem rgba(0, 0, 0, 10%),
    0 0.2rem 0.4rem rgba(0, 0, 0, 20%);
}

.masthead-nav {
  display: flex;

  /* Grow to combined max width of all children */
  flex-grow: 1;
  max-width: calc(2rem + 18rem + 52rem + 30rem + 2rem);

  padding: 0.5rem 2rem 0.5rem 2rem;
}

/* Masthead font settings */
.masthead-home-link, .masthead-links > li {
  font-size: 1.2em;
  font-weight: 700;

  line-height: 1.75;
  letter-spacing: 0.5px;
}

.masthead-home-link:hover, .masthead-links > li:hover {
  color: var(--background-white);
}

.masthead-home {
  display: flex;
  justify-content: flex-end;

  flex-grow: 1;
  max-width: 18rem;

  padding-right: 2rem;
}

.masthead-home-link {
  display: flex;
  align-items: center;

  white-space: nowrap;
}
.masthead-home-logo {
  margin-right: 1rem;
}

.masthead-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
  flex-shrink: 1;
  max-width: 52rem;

  padding: 0;
  margin: 0;
  list-style: none;

  white-space: nowrap;
}
.masthead-links a {
  display: block;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.masthead-nav-active {
  color: var(--accent-color) !important;
}

.masthead-source {
  display: flex;
  justify-content: flex-start;

  flex-grow: 1;
  max-width: 30rem;
}
