.sidebar {
  top: 6rem;
  position: sticky;

  flex-shrink: 0;
  flex-basis: 18rem;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

.sidebar-links {
  margin-top: 0.5em;
}
