.sidebar {
  top: 6rem;
  position: sticky;

  min-width: 17rem;

  margin-left: 2rem;
  margin-right: 2rem;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

.sidebar-links {
  margin-top: 0.5em;
}
