#toc {
  top: 6rem;
  width: 12rem;
  height: 0;
  position: sticky;
  flex-shrink: 0;
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

:target {
  scroll-margin-top: 5rem;
}
