[color-scheme="imagine"] {
  --primary-color: #5865f2;
  --font-headline:
    "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  --branding-not-quite-black: #23272a;
  --foter-color: white;
  --footer-made-with: #959a98;
}
