[color-scheme="wumpy"] {
  /* Color scheme itself */
  --accent-color: #58F288;

  --white-hue: #FFFFFF;
  --foreground-light: #F8F8F8;
  --foreground-dark: #F3F3F3;
  --background-white: #DBDDE0;

  --background-dark: #383B3F;
  --background-darker: #282B2F;

  /* Element specific variables */
  --masthead-background: var(--background-dark);
  --toc-background: var(--foreground-dark);
  --footer-background: var(--background-darker);
}
