* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#page-body, main {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

#page-body {
  flex-grow: 1;
}

.page-layout {
  margin-left: auto;
  max-width: 70rem;
  margin-right: auto;
}

.normalize-link {
  color: inherit;
  text-decoration: none;
}
