* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

article ol, article p, article ul {
  line-height: 1.7;
}

#page-body, main {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

#page-body {
  flex-grow: 1;
}

.page-layout {
  margin-left: auto;
  max-width: 70rem;
  margin-right: auto;
}

.normalize-link {
  color: inherit;
  text-decoration: none;
}

code {
  border: 1px solid #e3e5e8;
  font-family:
    Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
    Monaco, 'Courier New', Courier, monospace;
  background: #f2f3f5;
  padding: 0 0.2em;
  border-radius: 3px;
}

pre code {
  display: block;
  padding: 0.5em;
  border-radius: 4px;
}

.admonition {
  padding: 0.5rem 1rem 1rem .75rem;
  border-left: 4px solid var(--primary-color);
  border-radius: 4px;
  background: #f2f3f5;
  font-size: 14px;
  margin-top: 8px;
}

.admonition > p {
  margin: inherit;
}

.admonition-title {
  margin: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.tabbed-set {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
}

.tabbed-set > input {
  opacity: 0;
  display: none;
}

.tabbed-set label {
  padding: 1em 1.25em 0.75em;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: color 250ms;
}

.tabbed-set .tabbed-content {
  width: 100%;
  display: none;
  border-top: 1px solid #e3e5e8;
}

.tabbed-set input:checked + label {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.tabbed-set input:checked + label + .tabbed-content {
  order: 99;
  display: block;
}
