{% macro find_url(item) %}
  {% if item.url is defined %}
    {{ item.url | url }}
  {% else %}
    {{ find_url(item.children | first) }}
  {% endif %}
{% endmacro %}

<header>
  <nav id="masthead" class="page-layout">

    <div>
      {% block site_name %}
        <a class="normalize-link" href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a>
      {% endblock %}
    </div>

    <ul id="masthead-nav">
      {% for nav_item in nav %}
        <li
          {% if nav_item.active %} id="masthead-nav-active" {% endif %}
          class="masthead-nav-item"
        >
          <a class="normalize-link" href="{{ find_url(nav_item) }}">{{ nav_item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <a class="normalize-link" href="{{ config.repo_url }}">
      {{ config.repo_name }}
    </a>

  </nav>
</header>
