{#
  Find the first possible URL, for the masthead's links which don't
  necessarily have an actual URL. The dashes tell Jinja to remove blankspace
  and empty lines so that they do not appear in the final link
#}
{% macro find_url(item) -%}
  {% if item.url is defined -%}
    {{ item.url|url }}
  {%- else -%}
    {{ find_url(item.children|first) }}
  {%- endif %}
{%- endmacro %}

<header class="masthead">
  <nav class="masthead-nav">

    <div class="masthead-home">
      <a class="masthead-home-link" class="normalize-link">
        {% if config.theme.logo %}
          <img src="{{ config.theme.logo|url }}" width="48" height="48" />
        {% endif %}

        <span class="masthead-home-text">{{ config.site_name }}</span>
      </a>
    </div>
 
    <ul class="masthead-links">
      {% for nav_item in nav %}
        <li
          {% if nav_item.active %} class="masthead-nav-active" {% endif %}
        >
          <a class="normalize-link" href="{{ find_url(nav_item) }}">{{ nav_item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="masthead-source"></div>

  </nav>
</header>
