<nav id="sidebar">
  {% macro render_item(item) %}
    <li>
      <a class="normalize-link" href="{{ item.url|url }}">{{ item.title }}</a>
      {% if item.children %}
        <ul>
          {% for child in item.children %}
            {{ render_item(child)}}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endmacro %}

  <ul>
    {% set active = nav | selectattr('active', 'true') | list %}

    {% if active | length > 0 %}
      {# This will iterate through the children of the currently active page #}
      {% for item in active | first | attr('children') %}
        {{ render_item(item) }}
      {% endfor %}
    {% endif %}
  </ul>
</nav>
