<nav id="sidebar">
  {% macro render_sidebar(children) %}
    <ul>
      {% for child in children %}
        <li>
          <a class="normalize-link" href="{{ child.url | url }}">{{ child.title }}</a>
          {% if child.children %}
            {{ render_sidebar(child.children) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% endmacro %}

  {% set active = nav | selectattr('active', 'true') | list %}

  {% if active | length > 0 and page.meta.sidebar|default(true) %}
    {% set tab = active | first %}
    <strong>{{ tab.title }}</strong>

    {% if tab.children %}
      <div id="sidebar-links">
        {{ render_sidebar(tab.children) }}
      </div>
    {% endif %}
  {% endif %}
</nav>
