<!DOCTYPE html>
<html>
  <head>

    {% block site_meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block htmltitle %}
      <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {% endblock %}

    {% block styles %}
      <link href="{{ 'css/main.css'|url }}" rel="stylesheet">
    {% endblock %}
  </head>

  <body color-scheme="imagine">

    {% block masthead %}
      {% include "partials/masthead.html" %}
    {% endblock %}

    <div style="flex-grow: 1;" class="page-layout">
      {% block sidebar %}
        {% include "partials/sidebar.html" %}
      {% endblock %}

      <main>
        {% block content %}
          {% include "partials/content.html" %}
        {% endblock %}
      </main>
    </div>

    {% block footer %}
      {% include "partials/footer.html" %}
    {% endblock %}
  </body>
</html>
