<!DOCTYPE html>
<html>
  <head>

    {% block site_meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block htmltitle %}
      <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {% endblock %}

    {% block styles %}
      <link href="{{ 'css/main.css'|url }}" rel="stylesheet">
    {% endblock %}
  </head>

  <body color-scheme="wumpy">

    {% block masthead %}
      {% include "partials/masthead.html" %}
    {% endblock %}

    <div id="page-body" class="page-layout">
      {% block body required %}
        {# This is separated from main, to allow 404 to render differently #}
      {% endblock %}
    </div>

    {% block footer %}
      {% include "partials/footer.html" %}
    {% endblock %}
  </body>
</html>
